<div class="board-inner">
  <ul class="nav nav-tabs" id="myTab">
    <div class="liner"></div>
    
    <li class="<%= @current_step == 'basic_info' ? 'active' : '' %>">
      <a href="<%= profile_path(:basic_info) %>" title="Basic Information">
      	<span class="round-tabs one">
      		<i class="glyphicon">1</i>
				</span>
       </a>
    </li>
    <li class="<%= @current_step == 'personal_info' ? 'active' : '' %>">
      <a href="<%= profile_path(:personal_info) %>" title="Personal Information">
      	<span class="round-tabs two">
        	<i class="glyphicon">2</i>
        </span>
      </a>
    </li>
    <li class="<%= @current_step == 'aditional_info' ? 'active' : '' %>">
      <a href="<%= profile_path(:aditional_info) %>" title="Additional Information">
      	<span class="round-tabs three">
  				<i class="glyphicon ">3</i>
					</span>
				</a>
    </li>
    
    <li class="<%= @current_step == 'profile_photos' ? 'active' : '' %>">
      <a href="<%= profile_path(:profile_photos) %>" title="Upload Photo">
      	<span class="round-tabs four">
      		<i class="glyphicon">4</i>
   			</span>
   		</a>
    </li>
  </ul>
</div>