<div class="userProfile">
  <section style="background:#efefe9;">
    <div class="container">
      <div class="row">
        <div class="board">
          <%= render "profile_board_inner" %>
	      	<div class="tab-content">
	      	  <%= simple_form_for @profile, url: wizard_path, method: :put, wrapper: :vertical_form,
	                                                wrapper_mappings: {
	                                                  check_boxes: :horizontal_radio_and_checkboxes,
	                                                  radio_buttons: :horizontal_radio_and_checkboxes,
	                                                  file: :horizontal_file_input,
	                                                  datetime: :multi_select
	                                                } do |f| %>
	          	<fieldset>
	              <div class="tab-pane fade in active" id="home">
	                <%= f.input :name, autofocus: true, placeholder: "Name" %>
	                <%= f.input :age, placeholder: "Your age", as: :string %>
	                
	                <%= f.input :dob,
	                        start_year: Date.today.year - 90,
	                        end_year: Date.today.year - 12,
	                        discard_day: true,
	                        order: [:month, :year],
	                        label: "Date of birth"
	                %>
	                <%= f.input :country %>
	                <%= f.input :state, label: 'State/Province' %>
	                <%= f.input :city %>
	                
	                <%= f.input :gender, 
	                            collection: [[:Male, "Male"], [:Female, "Female"]], 
	                            label_method: :last, 
	                            value_method: :first,
	                            as: :radio_buttons, 
	                            item_wrapper_class: 'radio-inline' %>
	                <%= f.input :status, label: 'Marital status' , collection: [:Single, :Divorce, :Widow], as: :radio_buttons, :item_wrapper_class => 'radio-inline' %>
	                <button type="submit" href="#profile" name="home_form" class="btn-submit btn btn-success btn-outline-rounded green btnNext">
	                  Next <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span>
	                </button>
	              </div>
	              <div class="clearfix"></div>
	            </fieldset>
	          <% end %>
	        </div>
	      </div>
		  </div>
	  </div>
	</section>
</div>