<section class="userProfile">
  <div class="container" style="background:#efefe9;">
    <div class="row">
   	  <div class="col-sm-3 col-xs-12 text-center">
        <% if @profile.profile_pic.present? %>
            <%= image_tag current_user.profile.profile_pic, class: 'img-responsive' %>
        <% else %>
					<%= image_tag "nopicture.png", class: 'img-responsive'%>
        <% end %>
        <div class="clear"></div>
    	  <h2>
          <%= @profile.name %>
          &nbsp;
          <%= @profile.age %>
        </h2>
        <%= @profile.address %>
        <% unless @profile.finished_profile? %>
          <h4 class="text-center"> Your profile is not complete</h4>
        <% end %>
        <br/>
        <%= link_to "Edit my profile", profile_path(:basic_info), class: 'btn btn-block btn-primary' %>
      </div>
      <div class="col-sm-9 col-xs-12">
        <h2> Most Active Users</h2>
        <% @active_users.sample(6).in_groups_of(3).each do |group| %>
          <div class="row">
            <% group.each do |user| %>
              <div class="col-sm-4 col-xs-12 text-center">
                <% if user.profile.profile_pic.present? %>
                  <%= image_tag user.profile.profile_pic, class: 'img-responsive'%>
                <%else %>
                  <%= image_tag "nopicture.png", class: 'img-responsive' %>
                <% end %>
                <span>
                  <%= user.profile.name %>
                  &nbsp;
                  <%= user.profile.age %>
                  </span>
                <span>
                  <%= user.profile.address %>
                </span>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @active_users.present? %>
          <%= link_to 'See All Members', nil, class: 'btn btn-block btn-primary' %>
        <% end %>