<h1>Courtship Preferences</h1>
<% if @courtship_preferences.empty? %>
<p>None found. Please create some.</p>
<% end %>
<dl>
  <% @courtship_preferences.each do |courtship_preference| %>
      <dt><%= courtship_preference.name %></dt>
      <dd><%= link_to 'Show', courtship_preference %>
      &nbsp;-&nbsp;<%= link_to 'Edit', edit_courtship_preference_path(courtship_preference) %>
      &nbsp;-&nbsp;<%= link_to 'Destroy', courtship_preference, method: :delete, data: { confirm: 'Are you sure?' } %></dd>
  <% end %>
</dl>
<br>
<%= link_to 'New Courtship preference', new_courtship_preference_path, class: 'btn-submit btn btn-success btn-outline-rounded green' %>
