<div class="footer-above">
    <div class="container">
        <div class="row">




          <div class="col-lg-12">
            <h5>
              <%= link_to 'Terms of use', page_path('termsofuse') %>&nbsp;&nbsp;
              <%= link_to 'Dating Safety', page_path('datingsafety.html') %>&nbsp;&nbsp;
              <%= link_to 'Support', page_path('support') %>&nbsp;&nbsp;
              <a href="http://blog.courtmetrue.com/">CMT Blog</a>&nbsp;&nbsp;
              <%= link_to 'Contact Us' ,  page_path('contact.html') %></h5>

            </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Courtmetrue.com &copy; 2015
                <p><%= link_to 'Privacy Policy', page_path('privacypolicy') %></p>
            </div>
        </div>
    </div>
</div>
