<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">


                <h3>CourtMeTrue</h3>
                <p>Courtmetrue is a dating site where you can find your ideal partner online and discover them in real life through the process of courtship.

            </div>
            <div class="footer-col col-md-4">
                <h3>Connect With Us</h3>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/courtmetrue.ph" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.tumblr.com/blog/courtmetrue" class="btn-social btn-outline"><i class="fa fa-tumblr"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/CourtMeTrue" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/courtmetrue/" class="btn-social btn-outline"><i class="fa fa-instagram"></i></a>
                    </li>
                   
                </ul>
            </div>
            <div class="footer-col col-md-4">
                <h3>Our Company</h3>
                <p><%= link_to 'Terms of use', page_path('termsofuse') %></p>
                <p><%= link_to 'Dating Safety', page_path('datingsafety.html') %></p>
                <p><%= link_to 'Support', page_path('support') %></p>
                <p><a href="http://blog.courtmetrue.com/">CMT Blog</a></p>
                <p><%= link_to 'Contact Us' ,  page_path('contact.html') %></p>

            </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Courtmetrue.com &copy; 2015
                <p><%= link_to 'Privacy Policy', page_path('privacypolicy') %></p>
            </div>
        </div>
    </div>
</div>
