<%# add navigation links to this file %>
<ul class="nav navbar-nav navbar-left">
  <% if user_signed_in? %>
      <li>
          <%= link_to 'Search', user_path(current_user) %>
      </li>
      <li>
          <%= link_to 'Messages', root_path %>
      </li>
      <li>
          <%= link_to 'Interests', user_path(current_user) %>
      </li>
    <% else %>
      <li>
          <%= link_to 'How It Works', page_path('howitworks') %>
      </li>
      <li>
          <%= link_to 'About Us', page_path('about') %>
      </li>

      <li>
          <%= link_to 'What is courtship', page_path('whatsacourtship') %>
      </li>
    <% end %>
</ul>
<%= render 'layouts/navbar_right' %>
