<%# add navigation links to this file %>
<ul class="nav navbar-nav navbar-left">
    <li>
        <%= link_to 'Members', user_path(current_user) %>
    </li>
    <li>
        <%= link_to 'Search', root_path %>
    </li>
    <li>
        <%= link_to 'Messages', root_path %>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><%= link_to 'Edit Profile', profile_path(:basic_info) %></li>
      <li><%= link_to 'Account Settings', edit_user_registration_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Join', new_user_registration_path %></li>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.try(:admin?) %>
        <li><%= link_to 'DB', '/admin' %></li>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'CtPrefs', courtship_preferences_path %></li>
      <% end %>
    <% end %>
</ul>
